name: dynamic_height_page_view
description: A Flutter widget that provides a PageView with dynamic height adaptation based on the current page content.
version: 0.1.0
homepage: https://github.com/9clg6/dynamic_height_page_view
repository: https://github.com/9clg6/dynamic_height_page_view
issue_tracker: https://github.com/9clg6/dynamic_height_page_view/issues

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
